.section{
    display: flex;
    background-color: rgb(173, 149, 196);
    color: white;
    padding: 10px;
    width: 70%;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.section>article{
    background-color: rgb(98, 98, 165);
    padding: 10px;
    flex: 1;
    width: 800px;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 20px;
}